accelerate>=0.25.0
torch>=2.0.0
torchvision
transformers==4.36.2
diffusers==0.25.1
accelerate==0.25.0
peft==0.7.1
huggingface-hub==0.20.3
pillow
tensorboard
safetensors>=0.4.0
ftfy>=6.0.0
python-dotenv 